.header {
    background-color: #1F2937;
    padding: 12px 75px 50px;
}

.header-top {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    flex-wrap: wrap;
}

.header-top a {
    text-decoration: none;
    color:#F9FAF8;
}
#logo {
    margin-right: auto;
}

